.bg-main{
    background-color: #101010;
}

.conteudo-admin{
    border-radius: 24px;
}

.lista_opcoes{
    list-style: none;
    padding: 0;
    color: white;
}

ul a{
    color: white;
}

.ativo{
    background-color: #1a1a1a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-adicionar{
    background-color: #FECA00;
    height: 50px;
    width: 50px;
    border-radius: 16px;
    border: none;
}

.card{
    border-radius: 16px;
    border: none;
}